<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>

  <appSettings>
    <add key="Server name" value="XS1910425.r35.local\INSTD02"/>
    <!--<add key="Server name" value="localhost\SQLEXPRESS"/>-->

    <!--<add key="Server name" value="sql-gen-prd.electrabel.be"/>-->
    <add key="Database name" value="SYNAPSE" />
    <add key="ReportModuleID" value="2" />
    <add key="ScanControl" value="true" />
    <add key="DebugControl" value="false" />
    <add key="ShowTestEnvironment" value="true" />
    <add key="ModuleLanguages" value="'FR'" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Provider" value="System.Data.SqlClient" />
    <add key="ApplicationRole" value="SynapseMain" />
    <add key="Environment" value="ACC"/>
  </appSettings>

  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="ADRSynapseLog.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SynapseLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <connectionStrings>
    <!--EF DEV-->
    <add name="ADREntities" connectionString="metadata=res://*/Models.ADRDataModel.csdl|res://*/Models.ADRDataModel.ssdl|res://*/Models.ADRDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XS1910425.r35.local\INSTD02;initial catalog=SYNAPSE;integrated security=True;MultipleActiveResultSets=True;Pooling=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <!--EF PROD-->
    <!--<add name="ADREntities" connectionString="metadata=res://*/Models.ADRDataModel.csdl|res://*/Models.ADRDataModel.ssdl|res://*/Models.ADRDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-gen-prd.electrabel.be;initial catalog=SYNAPSE;integrated security=True;MultipleActiveResultSets=True;Pooling=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PMADRSERVICEBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--Webservice Dev-->
      <!--<endpoint address="https://esb-dmz-int.eib.electrabel.be:2120/p-i/20190703/PMADRService"
                binding="basicHttpBinding" bindingConfiguration="PMADRSERVICEBinding"
                contract="PMADRService.PMADRSERVICEPort" name="PMADRSERVICEPort" />-->

      <!--Webservice Acc -->
      <endpoint address="https://esb-dmz-acc.eib.electrabel.be:2120/p-i/20190703/PMADRService"
                binding="basicHttpBinding" bindingConfiguration="PMADRSERVICEBinding"
                contract="PMADRService.PMADRSERVICEPort" name="PMADRSERVICEPort" />

      <!--Webservice Prod-->
      <!--<endpoint address="https://esb-dmz-prd.eib.electrabel.be:2120/p-i/20190703/PMADRService"
                binding="basicHttpBinding" bindingConfiguration="PMADRSERVICEBinding"
                contract="PMADRService.PMADRSERVICEPort" name="PMADRSERVICEPort" />-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>