<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
	<connectionStrings>
	</connectionStrings>
	<appSettings>

		<!--<add key="Server name" value="SP066559\SQLEXPRESS"/>
    <add key="Database name" value="Synapse_dev"/>-->
    <add key="Server name" value="XS006880"/>
    <add key="Database name" value="SYNAPSE"/>
    <add key="ReportModuleID" value="2"/>
		<add key="ScanControl" value="false"/>
    <add key="DebugControl" value="false"/>
    <add key="ModuleLanguages" value="'FR','NL','EN'"/>
 	</appSettings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="SynapseLog.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="SynapseLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
