<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Server name" value="localhost\SQLEXPRESS" />
    <!--<add key="Server name" value="sql-gen-prd.electrabel.be"/>-->
    <add key="Database name" value="SYNAPSE" />
    <add key="ReportModuleID" value="2" />
    <add key="ScanControl" value="true" />
    <add key="DebugControl" value="false" />
    <add key="ShowTestEnvironment" value="true" />
    <add key="ModuleLanguages" value="'FR'" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Provider" value="System.Data.SqlClient" />
    <add key="ApplicationRole" value="SynapseMain" />
    <add key="Environment" value="ACC" />
    <add key="InfoFicheFolderPath" value="C:\Users\igm563\Desktop\Projet Certification\Synapse\Synapse\Main\src\Module_Education\Resources\Files" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CFNEducation_FormationEntities" connectionString="metadata=res://*/Models.CFNEducation_FormationDataModel.csdl|res://*/Models.CFNEducation_FormationDataModel.ssdl|res://*/Models.CFNEducation_FormationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=SYNAPSE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SYNAPSEEntities" connectionString="metadata=res://*/Models.CFNFormationDataModel.csdl|res://*/Models.CFNFormationDataModel.ssdl|res://*/Models.CFNFormationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=SYNAPSE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.CFNFormationDataModel.csdl|res://*/Models.CFNFormationDataModel.ssdl|res://*/Models.CFNFormationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=SYNAPSE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="Entities" connectionString="metadata=res://*/Models.CFNFormationDataModel.csdl|res://*/Models.CFNFormationDataModel.ssdl|res://*/Models.CFNFormationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=171.26.189.176;initial catalog=SYNAPSE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>